<div class="my-3">
    <h3>To-Array</h3>
    <br>
    <strong>ToArray- example</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <p class="border rounded bg-light py-2 px-3">
                <strong>
                    toArray:interval,take
                </strong>
            </p>
            <hr>
            <ul id="elContainer1"></ul>
        </div>
        <div class="col-md-4">
            <p class="border rounded bg-light py-2 px-3">
                <strong>
                    toArray:Of
                </strong>
            </p>
            <hr>
            <ul id="elContainer2"></ul>
        </div>

        <div class="col-md-4">
            <p class="border rounded bg-light py-2 px-3">
                <strong>
                    toArray:from
                </strong>
            </p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>

    </div>