<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">fromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">of-from</a>
            </li>
            <li>
                <a routerLink="to-array">to-Array</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
            <li>
                <a routerLink="filter">filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li>
            <li>
                <a routerLink="take">take/takeLast/takeUntil</a>
            </li>
            <li>
                <a routerLink="retry">retry/retryWhen/delay/scan</a>
            </li>

        </ul>
    </div>
</div>