<p>async-await works!</p>
<div class="row">
    <div class="col-md-4">
        <strong>Ex-1 with promise</strong><br>
        <button class="btn btn-primary" (click)="fetch1()">Buy laptop</button>
        <hr>
        <div id="result1">{{ result1 }}</div>
    </div>
    <div class="col-md-4">
        <strong>Ex-2 with async-Await</strong><br>
        <button class="btn btn-primary" (click)="fetch2()">Buy laptop</button>
        <hr>
        <div id="result2">{{result2}}</div>
    </div>
    <div class="col-md-4">
        <strong>Ex-3 fetch Api</strong><br>
        <button class="btn btn-primary" (click)="fetch3()">Buy laptop</button>
        <hr>
        <div id="result3">{{result3}}</div>
    </div>
</div>