<div class="my-3">
    <h3>Of - From</h3>
    <br>
    <strong>Of - example</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="border rounded bg-light py-2 px-3">
                <strong>
                    Data:
                </strong>
                Of('1','2','3')
            </p>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-6">
            <p class="border rounded bg-light py-2 px-3">
                <strong>
                    Data:
                </strong>
                Of(&#123;'1','2','3'&#125;)
            </p>
            <hr>
            <ul>
                <li><strong>a:</strong>{{obsMsg.a}}</li>
                <li><strong>b:</strong>{{obsMsg.b}}</li>
                <li><strong>c:</strong>{{obsMsg.c}}</li>
            </ul>
        </div>

    </div>
    <strong>From - example</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <p class="border rounded bg-light py-2 px-3">
                <strong> Array</strong>
                from(['arti','umang','yatri','meera'])
            </p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
        <div class="col-md-4">
            <p class="border rounded bg-light py-2 px-3">
                <strong> Promise</strong>
                promise to observable
            </p>
            <hr>
            <ul id="elContainer4"></ul>
        </div>

        <div class="col-md-4">
            <p class="border rounded bg-light py-2 px-3">
                <strong> String</strong>
                string to observable
            </p>
            <hr>
            <ul id="elContainer5"></ul>
        </div>

    </div>
</div>