/* You can add global styles to this file, and also import other style files */
ul.techlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.techlist li {
    background: #f8f8f8;
    border: 1px solid rgb(173, 160, 160);
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;

}

ul.techlist.error li {
    color: red;
    border-color: red;
    background: rgba(255, 0, 0, 0);

}

ul.techlist.completed li {
    color: green;
    border-color: green;
    background: #fff;
}