<div class="my-3">
    <h3>Map</h3>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Example-1</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: video + data</strong>
            </p>
            <br>
            <p>Massage<strong>{{msg1}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Example-2</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map:data*2</strong>

            </p>
            <br>
            <p>Massage<strong>{{msg2}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Example-3</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map: object</strong>

            </p>
            <br>
            <p>Massage<strong>
                    <ul id="elContainer"></ul>
                </strong></p>
        </div>
    </div>
</div>